*{font-size : 24px;}

#box {
	border-radius:25px;
 	background:#FF5722;
 	padding:30px;
 	margin:auto;
 	width:30%;
}

#box1 {
	border-radius:25px;
 	background:#FFC107;
 	padding:30px;
 	margin:auto;
 	width:30%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:#212121;
}

a:active {
  text-decoration: underline;
  color:#212121;
}

h1{color : #212121;
text-align: center;
font-family: "Century Gothic";}

BODY{background : #03A9F4;}

P{
	font-family : "Trebuchet MS";
  	color : #212121;
  	text-align: center;
}
