*{font-size : 24px;}

#rcorners {border-radius: 25px;
  background: #FF5722;
  padding: 20px;}

h1{color : #212121;
text-align: center;
font-family: "Century Gothic";}

BODY{background : #03A9F4;}

P{font-family : Verdana;
  color : #414141;}
