*{font-size : 24px;}

#box {
	border-radius:25px;
 	background:#FF5722;
 	padding:10px;
}

h1{color : #212121;
text-align: center;
font-family: "Century Gothic";}

BODY{background : #03A9F4;}

P{font-family : "Trebuchet MS";
  color : #414141;}
